<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cadastrar Questão</title>

<link href="questao/css/estilo.css" th:href="@{questao/css/estilo.css}"
	rel="stylesheet" />
<link href="css/bootstrap-3.3.6/css/bootstrap.min.css"
	th:href="@{questao/css/bootstrap-3.3.6/css/bootstrap.min.css}"
	rel="stylesheet"/>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css" />




</head>


<body data-spy="scroll">
	<div class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2 class="text-left">Cadastro de Questões</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-info">
		<div class="container">
			<div class="row">
				<div class="col-md-13">
					<div class="btn-group btn-group-xs">
						<a class="active btn btn-primary dropdown-toggle"
							data-toggle="dropdown"> Assunto <span
							class="fa fa-caret-down"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Engenharia de software</a> <a href="#">Redes</a>
								<a href="#">Linguagem de Programação</a> <a href="#">Gestão
									de Projeto</a> <a href="#">Banco de dados</a> <a href="#">Sistema
									Operacional</a> <a href="#">Segurança da Informação</a></li>
						</ul>
					</div>
					<form action="#" th:action="@{cadastroQuestao/criarQuestao}" role="form" class="form-horizontal" method="post">
						<div class="form-group has-feedback">
							<label class="col-xs-3 text-primary control-label">Questão</label>
							<div class="col-xs-4">
								<input name="pergunta" type="text" class="form-control input-lg"
									placeholder="Questão:" />
							</div>
						</div>
						<div class="form-group has-feedback">
							<label class="col-xs-3 text-primary  control-label">( A )</label>
							<div class="col-xs-4">
								<input name="desc1" type="text" class="form-control input-lg"
									placeholder="Aternativa"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 text-primary  control-label">( B )</label>
							<div class="col-xs-4">
							<input name="desc2" type="text" class="form-control input-lg"
									placeholder="Aternativa"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 text-primary  control-label">( C )</label>
							<div class="col-xs-4">
								<input name="desc3" type="text" class="form-control input-lg"
									placeholder="Aternativa"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 text-primary  control-label">( D )</label>
							<div class="col-xs-4">
								<input name="desc4" type="text" class="form-control input-lg"
									placeholder="Aternativa"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 text-primary  control-label">( E )</label>
							<div class="col-xs-4">
								<input name="desc5" type="text" class="form-control input-lg"
									placeholder="Aternativa"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 text-primary  control-label">Resposta:</label>
							<div class="col-xs-4">
								<input name = "correta" type="text" class="form-control input-lg"
									placeholder="Resposta:" />
							</div>
						</div>
						<button type="submit" class=" bg-info  btn-link btn-sm">Criar</button>
						<button type="submit" class=" bg-info  btn-link btn-sm">Voltar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="section"></div>
	<div class="section section-primary"></div>
	<div class="container-fluid"></div>


</body>

</html>