<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cadastrar Questão de Usuário</title>

<link href="questaoUser/css/estilo.css"
	th:href="@{questaoUser/css/estilo.css}" rel="stylesheet" />
<link href="css/bootstrap-3.3.6/css/bootstrap.min.css"
	th:href="@{questaoUser/css/bootstrap-3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

<script src="questaoUser/css/bootstrap-3.3.6/js/bootstrap.min.js"
	th:href="@{bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
	th:href="@{jquery/2.0.3/jquery.min.js}"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js "
	th:href="@{bootstrap/3.3.4/js/bootstrap.min.js}"></script>


<style>
select {
	background: #FFFFFF;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana;
	font-size: 14px;
	color: #1E90FF;
}
</style>

</head>


<body data-spy="scroll">
	<div class="section section-primary">
		<div class="background-image background-image-fixed"
			style="background-image: url('https://s3.amazonaws.com/ciranda/entities/1/covers/416_9912a712d496a39cb3c3263ebd4d1e00dc920055.jpg')"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2 class="text-left">Cadastre sua Questão</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<form th:object="${Questao}" name="formulario" method="post" th:action="@{cadastroQuestao/criarQuestaoUsuario}">
						<label>Disciplina:</label> <select name="disciplina" id="idDisciplina">
							<option value=""></option>
							<option th:value="${listarDisciplina.id}"
								th:each="listarDisciplina : ${listarDisciplina}"
								th:text="${listarDisciplina.descricao}"></option>
						</select> <label>Assunto:</label> <select name="assunto">
							<option value=""></option>
							<option th:value="${listarAssunto.id}"
								th:each="listarAssunto : ${listarAssunto}"
								th:text="${listarAssunto.descricao}"></option>
						</select>

						<div class="form-group has-feedback">
							<br /> <label class="col-xs-9 text-while control-label">Questão</label>
							<br />
							<div class="col-xs-5">
								<input name="pergunta" type="text" class="form-control input-lg"
									placeholder="Questão:" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-9 text-while  control-label"> <input
								type="radio" name="isCorreta" value="A" /> ( A )
							</label>
							<div class="col-xs-5">
								<input name="desc1" type="text" class="form-control input-lg"
									placeholder="Aternativa" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-9 text-while  control-label"> <input
								type="radio" name="isCorreta" value="B" /> ( B )
							</label>
							<div class="col-xs-5">
								<input name="desc2" type="text" class="form-control input-lg"
									placeholder="Aternativa" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-9 text-while  control-label"> <input
								type="radio" name="isCorreta" value="C" /> ( C )
							</label>
							<div class="col-xs-5">
								<input name="desc3" type="text" class="form-control input-lg"
									placeholder="Aternativa" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-9 text-while  control-label"> <input
								type="radio" name="isCorreta" value="D" /> ( D )
							</label>
							<div class="col-xs-5">
								<input name="desc4" type="text" class="form-control input-lg"
									placeholder="Aternativa" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-9 text-while  control-label"> <input
								type="radio" name="isCorreta" value="E" /> ( E )
							</label>
							<div class="col-xs-5">
								<input name="desc5" type="text" class="form-control input-lg"
									placeholder="Aternativa" />
							</div>
						</div>
						<div class="col-5">
							<button type="submit"
								class="bg-info btn btn-success btn-primary btn-sm">Criar</button>
							<button type="submit"
								class="bg-info btn btn-danger btn btn-primary btn-sm">Voltar</button>
							<input type="reset"
								class="bg-info btn btn-warning btn-primary btn-sm"
								value="Limpar Campos" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-primary text-left"></div>
	<div class="section section-primary">
		<div class="background-image background-image-fixed"
			style="background-image: url('https://s3.amazonaws.com/ciranda/entities/1/covers/416_9912a712d496a39cb3c3263ebd4d1e00dc920055.jpg')"></div>
	</div>


</body>
</html>