<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>ContesTI - Login</title>
<link rel="shortcut icon" href="home/imagens/favicon.ico"/>



<link href="home/css/estilo.css" 
	  th:href="@{home/css/estilo.css}" rel="stylesheet"/>
	
	  
	
	
	<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
			th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.js}"></script>

</head>

<body>

	<div class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<a href="#"><img src="home/imagens/logo.png" 
					th:src="@{home/imagens/logo.png}" class="img-responsive"/></a>
					
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			 <div class="col-lg-1 col-sm-0">
				<div class="col-lg-5">
					<div class="hidden-phone= navbar">
						<ul class="nav nav-pills"></ul>
						<br/> 
						
						
								</div>
                             </div>
		               	</div>
					

					  <div class="header clearfix">
						<div id="nav"></div>
						<div class="navigation"></div>
						<br/>
					 
					
					  <form action="#" th:action="@{/}"  method="post" accept-charset="utf-8" class="form-login">
					   <div th:if="${param.error}">
                     Login ou Senha inválidos!
                     </div>
                     <div th:if="${param.logout}">
                     Deslogado com sucesso
                      </div>
					  
					  <div class="col-lg-0 col-sm-12"></div>
					  <h1 class="form-login-heading text-center text-primary">ContesTI</h1>
					  
					      <br/>
					      <br/>
					    	<label class="col-md-1 text-primary control-label text-right">Usuário:</label>
									<div class="col-lg-4">
										<input type="text" class="form-control" name="login" placeholder="Usuário"/>
									</div>
									
									
									<label class="col-md-1 text-primary control-label text-right">Senha:</label>
									
									<div class="col-lg-4">
									    <input type="password" class="form-control" name="senha" placeholder="Senha"/>
									</div>
					    <br/>
					    <br/>
					    <br/>
					   
					    
					    <div class="col-lg-1">
					       <button type="submit" class="btn btn-success btn btn-primary btn-xs">Entrar</button>
					    </div>
			            
			           </form>
			           	  
			           <form class="form-horizontal" action="cadastro">
					    <div class="col-lg-1">
					        <button type="submit" class=" btn btn-primary btn-xs">Cadastrar-se</button>
					        <div class="col-lg-1"></div>
					    </div>
			            
			           </form>
			           
			      </div>
					
		    </div>
	   </div>
</body>
  <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h2>Bem vindos</h2>
            <p class="lead">O sistema que tem como finalidade o auxílio a estudantes da área de tecnologia
              da informação.</p>
          </div>
          <div class="col-md-1">
            <a href="#"><img src="home/imagens/facebook.png" th:src="@{home//imagens/facebook.png}" class="img-responsive img-rounded"/></a>
          </div>
          <div class="col-md-1">
            <a href="#"><img src="home/imagens/Gmail.png" th:src="@{home//imagens/Gmail.png}" class="img-responsive img-rounded"/></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="home/imagens/play-store.png" th:src="@{home//imagens/play-store.png}" class="img-responsive"/></a>
          </div>
        </div>
      </div>
    </footer>


</html>