<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Login</title>



<link href="home/css/Login(1).css" 
	  th:href="@{home/css/Login(1).css}" rel="stylesheet"/>
	
	
	<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
			th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.js}"></script>
		
	
</head>

<body>

	<div class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#"><img src="home/imagens/Logo Marca.png" 
					th:src="@{home/imagens/Logo Marca.png}" class="img-responsive"/></a>
					
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			 <div class="col-xs-1 col-sm-0">
				<div class="col-md-5">
					<div class="hidden-phone= navbar">
						<ul class="nav nav-pills"></ul>
						<br/> 
						
						
								</div>
                             </div>
		               	</div>
					

					  <div class="header clearfix">
						<div id="nav"></div>
						<div class="navigation"></div>
						<br/>
					  <form action="#" th:action="@{/}"  method="post" accept-charset="utf-8" class="form-login">
					  
					  <h1 class="form-login-heading text-center text-primary" contenteditable="true">ContesTI</h1>
					      <br/>
					    	<label class="col-xs-1 text-primary control-label text-right">Usuário:</label>
									<div class="col-xs-4">
										<input type="text" class="form-control" name="login" placeholder="Usuário"/>
									</div>
									
									
									<label class="col-xs-1 text-primary control-label text-right">Senha:</label>
									
									<div class="col-xs-4">
									    <input type="password" class="form-control" name="senha" placeholder="Senha"/>
									</div>
					    <br/>
					    <br/>
					    <br/>
					   
					    
					    <div class="col-xs-1">
					       <button type="submit" class="btn btn-success btn btn-primary btn-xs">Entrar</button>
					    </div>
			            
			           </form>
			           	  
			           <form class="form-horizontal" action="cadastro">
					    <div class="col-xs-1">
					        <button type="submit" class=" btn btn-primary btn-xs">Cadastrar-se</button>
					        <div class="col-xs-1"></div>
					    </div>
			            
			           </form>
			           
			      </div>
					
		    </div>
	   </div>
</body>
<footer class="section section-primary">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2>Bem vindos</h2>
				<p class="lead">O sistema que tem como finalidade o auxílio a
					estudantes da área de tecnologia da informação.</p>
			</div>

			<div class="col-md-1">
				<a href="https://www.facebook.com/groups/1599466757020779/"><img src="home/imagens/facebook.png" 
					th:src="@{home//imagens/facebook.png}"  class="img-responsive img-rounded"/></a>
			</div>
			<div class="col-md-1">
				<a href="https://mail.google.com/mail/u/0/#inbox"><img src="home/imagens/Gmail.png" 
					th:src="@{home//imagens/Gmail.png}"  class="img-responsive img-rounded"/></a>
			</div>
			<div class="col-md-2">
				<a href="https://play.google.com/store"><img src="home/imagens/play-store.png" 
					th:src="@{home//imagens/play-store.png}"  class="img-responsive"/></a>
			</div>
		</div>
	</div>
	<div class="section section-primary"></div>
	
</footer>


</html>