<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Authentication</title>
</head>
<body>
<form th:action ="@{/}" method = "post">
	<div>
	<label>
	Login:
	</label>
	<input type="text" name="login"/>
	</div>
	<div>
	<label>
	Senha:
	</label>
	<input type="password" name="senha"/>
	</div>
	<div>

	<input type="submit" name="Login"/>
	</div>


</form>

</body>
</html>