<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ContesTI - Cadastrar Questões de Banca</title>

<link href="PrincipalAdm/css/estilo.css" th:href="@{PrincipalAdm/css/estilo.css}"
	rel="stylesheet" />
	
<link href="PrincipalAdm/css/carousel.css" th:href="@{PrincipalAdm/css/carousel.css}"
	rel="stylesheet" />	
	
<link href="css/bootstrap-3.3.6/css/bootstrap.min.css"
	th:href="@{PrincipalAdm/css/bootstrap-3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

    <script src="PrincipalAdm/css/bootstrap-3.3.6/js/bootstrap.min.js" th:href="@{bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" th:href="@{jquery/2.0.3/jquery.min.js}"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js " th:href="@{bootstrap/3.3.4/js/bootstrap.min.js}"></script>

<style>
     select{
     width:95px;
     height:30px;
     background:#FFFFFF;
     font-weight:bold;
     font-style:normal;
     font-family:Verdana;
     font-size:12px;
     color:#1E90FF;
     border-radius: 30px 30px;
     }
</style>



</head>
    
<body data-spy="scroll">


    <nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a class="navbar-brand"></a><a class="navbar-brand"><img height="40"  alt="Brand" src="PrincipalAdm/imagens/favicon.ico" class="img-thumbnail"/></a>
					<br/><br/><br/>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/cadastroQuestaoUsuario}">Cadastrar Questão de usuário</a></li>
							<li><a th:href="@{/cadastroQuestaoConcurso}">Cadastrar Questão de Banca</a></li>
						<li><a th:href="@{/Sobre}">Sobre</a></li>
						
				   </ul>
					 
					
				</div><!--/.nav-collapse -->
			</div>
		</nav>

   <br/>
    
    <div class="col-sm-3"></div>
    <div class="section section-Default">
    
    <div class="container">
      <div class="col-sm-1">
      <div class="col-xs-2">
    <div class="container">
    
	
	 </div>
    </div>
   </div>
      
      <div class="row">
      <div class="col-sm-1"></div>

   <div class="col-sm-1"></div>
	 <h1 class="text-primary">Opções</h1>
   <div class="alert alert-success" th:text="${mensagem}"
		th:if="${not #strings.isEmpty(mensagem)}"></div>

   <div class="alert alert-danger" th:text="${erro}"
		th:if="${not #strings.isEmpty(erro)}"></div>

				<div class="box">
					<br /> <br /> <br />
					

					<div>
					<div class="col-sm-4">
						<form  th:object="${banca}" method="post"
						
							th:action="@{banca/criarBanca}">
							

							<label> <span class="text-primary">Banca:</span> <input
								type="text" class="form-control" name="descricao"
								placeholder="Banca" />
							</label> <label>
								<input type="submit"   class="btn btn-success  btn-sm" value="Enviar" />
							</label>
						</form>
						</div>
					</div>
					
					
					
					<div>
					<div class="col-sm-4">
					
						<form th:object="${disciplina}" method="post"
							th:action="@{disciplina/criarDisciplina}">
							<label> <span class="text-primary">Disciplina:</span> <input
								type="text" class="form-control" name="descricao"
								placeholder="Disciplina" />
							</label> <label>
								<input type="submit"   class="btn btn-success  btn-sm" value="Enviar" />
							</label>
						</form>
						</div>
					</div>
					<div>
					<div class="col-sm-4">
						<form th:object="${role}" method="post"
							th:action="@{role/criarRole}">
							<label> <span class="text-primary">Adicionar
									Permissão:</span> <input type="text" class="form-control" name="permissao"
								placeholder="Permissão" />

							</label> <label>
								<input type="submit"   class="btn btn-success  btn-sm" value="Enviar" />
							</label>
						</form>
						<br/>
						<br/>
						</div>
						
					</div>
				</div>
				<br/>
                <div class="col-sm-2"></div>
                
                <form method="post" th:action="@{cadastro/AdicionarPermissao}">
					<div class="col-sm-1">
						<select class="text-primary pull-left input-block-level fcinza-m" name="usuario"
							id="idUsuario">
							<option value="">Usuário</option>
							<option th:value="${listarUsuario.idUsuario}"
								th:each="listarUsuario : ${listarUsuario}"
								th:text="${listarUsuario.nome_usuario}"></option>
						</select>
					</div>
					<div class="col-sm-1">
					   <select class="text-primary pull-left input-block-level fcinza-m" name="role"
							id="role">
							<option value="">Permissão</option>
							<option th:value="${listarRole.role}"
								th:each="listarRole : ${listarRole}"
								th:text="${listarRole.role}"></option>
						</select>
					</div>
					<br />
					<div class="col-sm-2">
						<input type="submit"   class="btn btn-success  btn-sm" value="Enviar" />
					</div>
				</form>
				

				<form th:object="${assunto}" method="post"
					th:action="@{assunto/criarAssunto}">
					
					
						<select class="text-primary pull-left  fcinza-m" name="disciplina">
							<option value="">Disciplina</option>
							<option th:value="${listarDisciplina.id}"
								th:each="listarDisciplina : ${listarDisciplina}"
								th:text="${listarDisciplina.descricao}"></option>
						</select>
						
						
						<label> <input type="text" class="form-control"
							name="descricao" placeholder="Assunto" />
						</label>
					

					
						<input type="submit"   class="btn btn-success  btn-sm" value="Enviar" />
						 
					
				</form>
         </div>
     
      </div>
       
     </div>
     
   
    <div class="section section-defauld"><div class="background-image background-image-fixed" style="background-image : url('http://franquiasbaratas.wiki.br/wp-content/uploads/2015/11/empreendedor-digital-ideias.png')"></div></div>
    <div class="section section-defauld"><div class="background-image background-image-fixed" style="background-image : url('http://franquiasbaratas.wiki.br/wp-content/uploads/2015/11/empreendedor-digital-ideias.png')"></div></div>
    <div class="section section-defauld"><div class="background-image background-image-fixed" style="background-image : url('http://franquiasbaratas.wiki.br/wp-content/uploads/2015/11/empreendedor-digital-ideias.png')"></div></div>
    <div class="section section-defauld"><div class="background-image background-image-fixed" style="background-image : url('http://franquiasbaratas.wiki.br/wp-content/uploads/2015/11/empreendedor-digital-ideias.png')"></div></div>
    <div class="section section-defauld"><div class="background-image background-image-fixed" style="background-image : url('http://franquiasbaratas.wiki.br/wp-content/uploads/2015/11/empreendedor-digital-ideias.png')"></div></div>
 </body>

</html>